In [1]:
pwd

'c:\\Users\\user\\Documents\\mlops_with_aws\\notebooks'

In [2]:
import os    
from dotenv import load_dotenv

In [3]:
os.chdir("..")

In [4]:
pwd

'c:\\Users\\user\\Documents\\mlops_with_aws'

In [5]:
load_dotenv()

True

In [6]:
uri = os.getenv("MONGODB_URI")
print(uri)

mongodb+srv://oladipupo:oladipupo@taofeek-cluster.4rfckxa.mongodb.net/?retryWrites=true&w=majority&appName=taofeek-Cluster

In [7]:
import pandas as pd  
from pymongo import MongoClient

csv_file = "Data/Visadataset.csv"

df = pd.read_csv(csv_file)
print(df.head(4))

  case_id continent education_of_employee has_job_experience  \
0  EZYV01      Asia           High School                  N
1  EZYV02      Asia              Master's                  Y
2  EZYV03      Asia            Bachelor's                  N
3  EZYV04      Asia            Bachelor's                  N

  requires_job_training  no_of_employees  yr_of_estab region_of_employment  \
0                     N            14513         2007                 West
1                     N             2412         2002            Northeast
2                     Y            44444         2008                 West
3                     N               98         1897                 West

   prevailing_wage unit_of_wage full_time_position case_status
0         592.2029         Hour                  Y      Denied
1       83425.6500         Year                  Y   Certified
2      122996.8600         Year                  Y      Denied
3       83434.0300         Year                  Y      Denied

In [8]:
print(df.shape)

(25480, 12)

In [9]:
print(df.columns)

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25480 entries, 0 to 25479
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   case_id                25480 non-null  object
 1   continent              25480 non-null  object
 2   education_of_employee  25480 non-null  object
 3   has_job_experience     25480 non-null  object
 4   requires_job_training  25480 non-null  object
 5   no_of_employees        25480 non-null  int64
 6   yr_of_estab            25480 non-null  int64
 7   region_of_employment   25480 non-null  object
 8   prevailing_wage        25480 non-null  float64
 9   unit_of_wage           25480 non-null  object
 10  full_time_position     25480 non-null  object
 11  case_status            25480 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 2.3+ MB

In [11]:
# ==== Convert CSV Data to Dictionary ====
data = df.to_dict(orient="records")
data[:2]

[{'case_id': 'EZYV01',
  'continent': 'Asia',
  'education_of_employee': 'High School',
  'has_job_experience': 'N',
  'requires_job_training': 'N',
  'no_of_employees': 14513,
  'yr_of_estab': 2007,
  'region_of_employment': 'West',
  'prevailing_wage': 592.2029,
  'unit_of_wage': 'Hour',
  'full_time_position': 'Y',
  'case_status': 'Denied'},
 {'case_id': 'EZYV02',
  'continent': 'Asia',
  'education_of_employee': "Master's",
  'has_job_experience': 'Y',
  'requires_job_training': 'N',
  'no_of_employees': 2412,
  'yr_of_estab': 2002,
  'region_of_employment': 'Northeast',
  'prevailing_wage': 83425.65,
  'unit_of_wage': 'Year',
  'full_time_position': 'Y',
  'case_status': 'Certified'}]

In [12]:
df['case_id'].nunique()

25480

In [14]:
# ===== MongoDB Connection =====
client = MongoClient(uri)
db = client['usa_visa_db']
collection = db['usa_visa']

# === Insert into MongoDB ===
collection.insert_many(data)

collection.create_index("case_id", unique=True)

print(f"Inserted {len(data)} records into MongoDB collection 'users'")

Inserted 25480 records into MongoDB collection 'users'

In [15]:
data = list(collection.find())

In [16]:
df = pd.DataFrame(data).drop(columns=["_id"])
print(df.head())

  case_id continent education_of_employee has_job_experience  \
0  EZYV01      Asia           High School                  N
1  EZYV02      Asia              Master's                  Y
2  EZYV03      Asia            Bachelor's                  N
3  EZYV04      Asia            Bachelor's                  N
4  EZYV05    Africa              Master's                  Y

  requires_job_training  no_of_employees  yr_of_estab region_of_employment  \
0                     N            14513         2007                 West
1                     N             2412         2002            Northeast
2                     Y            44444         2008                 West
3                     N               98         1897                 West
4                     N             1082         2005                South

   prevailing_wage unit_of_wage full_time_position case_status
0         592.2029         Hour                  Y      Denied
1       83425.6500         Year                  Y   Certified
2      122996.8600         Year                  Y      Denied
3       83434.0300         Year                  Y      Denied
4      149907.3900         Year                  Y   Certified

In [17]:
from usa_visa.utils.main_utils import load_yaml 

output = load_yaml(r"C:\Users\user\Documents\mlops_with_aws\config\schema.yaml")

In [18]:
print(output)

{'columns': [{'case_id': 'category'}, {'continent': 'category'}, {'education_of_employee': 'category'}, {'has_job_experience': 'category'}, {'requires_job_training': 'category'}, {'no_of_employees': 'int'}, {'yr_of_estab': 'int'}, {'region_of_employment': 'category'}, {'prevailing_wage': 'int'}, {'unit_of_wage': 'category'}, {'full_time_position': 'category'}, {'case_status': 'category'}], 'numerical_columns': ['no_of_employees', 'prevailing_wage', 'yr_of_estab'], 'categorical_columns': ['case_id', 'continent', 'education_of_employee', 'has_job_experience', 'requires_job_training', 'region_of_employment', 'unit_of_wage', 'full_time_position', 'case_status'], 'drop_columns': ['case_id', 'yr_of_estab'], 'num_features': ['no_of_employees', 'prevailing_wage', 'company_age'], 'or_columns': ['has_job_experience', 'requires_job_training', 'full_time_position', 'education_of_employee'], 'oh_columns': ['continent', 'unit_of_wage', 'region_of_employment'], 'transform_columns': ['no_of_employees', 'company_age']}

In [19]:
output.columns[0]['case_id']

'category'

In [1]:
from usa_visa.logger import setup_logging
from pathlib import Path   
setup_logging(Path("logs"))

In [2]:
from usa_visa.utils.main_utils import MongoDbConnection

connection = MongoDbConnection()
connection.count_documents()

25480

In [3]:
df = connection.mongo_to_df()
print(df.head())

  case_id continent education_of_employee has_job_experience  \
0  EZYV01      Asia           High School                  N
1  EZYV02      Asia              Master's                  Y
2  EZYV03      Asia            Bachelor's                  N
3  EZYV04      Asia            Bachelor's                  N
4  EZYV05    Africa              Master's                  Y

  requires_job_training  no_of_employees  yr_of_estab region_of_employment  \
0                     N            14513         2007                 West
1                     N             2412         2002            Northeast
2                     Y            44444         2008                 West
3                     N               98         1897                 West
4                     N             1082         2005                South

   prevailing_wage unit_of_wage full_time_position case_status
0         592.2029         Hour                  Y      Denied
1       83425.6500         Year                  Y   Certified
2      122996.8600         Year                  Y      Denied
3       83434.0300         Year                  Y      Denied
4      149907.3900         Year                  Y   Certified

In [4]:
count = len(list(connection.collection.find({"case_status": "Denied"})))
print(count)

8462

In [5]:
print(count / connection.count_documents())

0.33210361067503924

In [6]:
len(list(connection.collection.find({"case_status": "Certified"}))) / connection.count_documents()

0.6678963893249608

In [7]:
for db in connection.client.list_database_names():
    print(db)

sample_mflix
usa_visa_db
admin
local